/* general */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

/* Grid Layout */
.grid-body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.gb-header {
  grid-area: header;
  width: 100%;
  background-color: #000;
}

.gb-main {
  grid-area: main;
  display: flex;
  justify-content: center;
}

.gb-footer {
  grid-area: footer;
}

/* header */

/* nabvar */

.logo {
  display: none;
}

.menu-icon {
  padding: 1rem;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.navbar {
  position: absolute;
  top: 5rem;
  left: -100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  transition: all 0.5s ease;
  z-index: 2;
}

.navbar.show {
  left: 0;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  display: block;
  margin: 0 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  color: inherit;
}

.links a:last-child {
  border-bottom: #000;
}

.social-media a {
  display: none;
  color: inherit;
}
/* main */
.carrousel {
    width: 95%;
    border-radius: .5rem;
    padding: 1em;
    box-shadow: 5px 5px .9em #999;
    z-index: 1;
}
.carrousel .img-container {
    width: 1000%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: .9em;
    border-radius: .5rem;
    box-shadow: 5px 5px .9em #999;

    transition: all .5s ease;
    transform: translate(0%);
}
.carrousel .img {
    width: calc(100%/10);
    margin-right: 1em;
    border-radius: .5rem;
    box-shadow: 5px 5px .9em #999;
}
.carrousel .opcs {
    width: 100%;
    list-style: none;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.carrousel .opc {
    width: 1em;
    height: 1em;
    margin: .2em;
    border-radius: 50%;
    box-shadow: 5px 5px .9em #999;
}

.carrousel .opc.active {
    background-color: rgb(204, 240, 204);
    transition: all .2s ease;
}

/* footer */
